button {
  min-height: 30px;
  flex: 1;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button:hover {
    cursor: pointer;
    background-color: darkblue;
    color: white;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

.email {
    margin: 10px;
    flex: 1;
    min-height: 30px;
    padding: 5px;
}